<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <!-- <h1 class="hover:bg-blue-900">Home</h1> -->
    <nav class="fixed top-0 right-0 left-0 bg-indigo-700 h-16">
        <div class="max-w-7xl h-16 mx-auto flex items-center px-4 justify-between">
            <p class="font-bold text-xl">Todo App</p>

            <!-- Version movil -->
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
              


        </div>
    </nav>
</body>
</html>